* {
  margin: 0;
  padding: 0; }

main {
  padding-bottom: 150px;
  width: 60%;
  margin-left: auto;
  margin-right: auto; }

.main-header {
  background-color: #549c84; }
  .main-header__title {
    color: #e6c54d;
    text-align: center; }

a {
  color: #e6c54d;
  text-decoration: none; }
  a a:hover {
    color: #e6c54d;
    text-decoration: none; }
    a a:hover a:visited {
      color: #e6c54d;
      text-decoration: none; }
      a a:hover a:visited a:active {
        color: #e6c54d;
        text-decoration: none; }

h1 {
  padding: 25px;
  font-size: xxx-large; }

h3 {
  margin-top: 15px; }

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  width: 100%;
  text-align: center;
  flex-wrap: wrap; }

.main-menu {
  width: 40%;
  height: 400px;
  margin-top: 70px; }
  .main-menu__content:hover {
    transform: scale(1.4);
    transition: 1.2s; }
  .main-menu--un {
    box-shadow: 0.5px 0.5px 8px grey;
    background-color: #FCDFDB; }
    .main-menu--un .main-menu__content {
      color: #660000;
      font-size: 20px;
      margin-top: 130px; }
      .main-menu--un .main-menu__content h2 {
        font-family: 'Shadows Into Light', cursive; }
  .main-menu--deux {
    box-shadow: 0.5px 0.5px 8px grey;
    background-color: #FFF5FE; }
    .main-menu--deux .main-menu__content {
      color: #c77412;
      font-size: 20px;
      margin-top: 130px; }
      .main-menu--deux .main-menu__content h2 {
        background: linear-gradient(90deg, #d8852e, #905bfd);
        background-clip: border-box;
        background-clip: text;
        color: transparent;
        font-size: 28px;
        padding-top: 20px;
        font-family: 'Alegreya', serif; }
  .main-menu--trois {
    box-shadow: 0.5px 0.5px 8px grey;
    background-color: #F9F9F9; }
    .main-menu--trois .main-menu__content {
      color: #339bfb;
      font-size: 20px;
      margin-top: 130px; }
      .main-menu--trois .main-menu__content h2 {
        background: linear-gradient(90deg, #0431df, #69b4fa);
        background-clip: border-box;
        background-clip: text;
        color: transparent;
        font-size: 28px;
        padding-top: 20px;
        font-family: 'Alex Brush', cursive; }
  .main-menu--quatre {
    box-shadow: 0.5px 0.5px 8px grey;
    background-color: #fdfffd; }
    .main-menu--quatre .main-menu__content {
      color: #72bf56;
      font-size: 20px;
      margin-top: 130px; }
      .main-menu--quatre .main-menu__content h2 {
        background: linear-gradient(90deg, #3e923a, #c4ff8a);
        background-clip: border-box;
        background-clip: text;
        color: transparent;
        font-size: 28px;
        padding-top: 20px;
        font-family: 'Kaushan Script', cursive; }
  .main-menu .fa-music {
    background: linear-gradient(90deg, #f05961, #f6916a);
    background-clip: border-box;
    background-clip: text;
    color: transparent;
    font-size: 28px;
    padding-top: 20px; }

.soon {
  border-radius: 5px 5px 5px;
  background-color: #549c84;
  text-align: center;
  box-shadow: 1px 1px 5px 1px black;
  color: #e6c54d;
  font-size: 20px;
  font-weight: bold;
  margin-top: 60px;
  padding-top: 25px;
  width: 400px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-content: flex-end; }

span {
  width: 15px;
  height: 15px;
  margin: 0px 5px;
  background-color: #e6c54d;
  border-radius: 50%;
  display: inline-block;
  animation-name: dots;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; }

@keyframes dots {
  50% {
    opacity: 0;
    transform: scale(0.2) translateY(10px); } }
@keyframes wig {
  0% {
    transform: rotate(10deg); }
  3% {
    transform: rotate(-5deg); }
  4% {
    transform: rotate(-10deg); }
  5% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(0deg); } }
.circle span:nth-child(2) {
  background-color: #57ffa0;
  animation-delay: 0.4s; }

.circle span:nth-child(3) {
  background-color: #ff8b57;
  animation-delay: 0.8s; }

.footer {
  background-color: #549c84;
  padding: 25px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: larger;
  font-weight: bold; }

.wiggle {
  animation-name: wig;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: normal; }

.submenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FCDFDB;
  width: 100%;
  height: 1200px;
  text-align: center;
  flex-wrap: wrap;
  box-shadow: 0.5px 0.5px 8px grey;
  margin-top: 50px;
  margin-bottom: -30px; }
  .submenu .fa-music {
    background: linear-gradient(90deg, #f05961, #f6916a);
    background-clip: border-box;
    background-clip: text;
    color: transparent;
    font-size: 28px;
    padding-top: 20px;
    font-size: 5em; }
  .submenu h2 {
    font-size: 4em;
    font-family: 'Shadows Into Light', cursive; }

.submenu-section {
  width: 90%;
  padding-bottom: 80px; }

.trait {
  width: 150px;
  height: 50px; }

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: auto; }
  .row p {
    line-height: 2.5em; }
  .row h4 {
    font-size: 35px;
    background: linear-gradient(to top, #3c1218 0%, #3c1218 4px, transparent 5px) no-repeat;
    background-size: 0 100%;
    transition: background-size 0.3s; }
    .row h4:hover {
      background-size: 100% 100%; }
  .row .row-content--1 {
    font-weight: bold; }

/*# sourceMappingURL=style.css.map */
