@import "utils/variables";
@import "utils/mixins";

* {
    margin: 0;
    padding: 0;
}

main {
    padding-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
}


.main-header {
    background-color: $color-primary;

    &__title {
        color: $color-secondary;
        text-align: center;
    }
}

a {
    @include link-color($color-secondary);

    a:hover {
        @include link-color($color-secondary);

        a:visited {
            @include link-color($color-secondary);

            a:active {
                @include link-color($color-secondary);
            }
        }
    }
}

h1 {
    padding: 25px;
    font-size: 60px;
}


h3 {
    margin-top: 15px;
}


.container {
    @include main-box;
}


.main-menu {
    width: 40%;
    height: 400px;
    margin-top: 70px;

    &__content {
        &:hover {
            @include zoom;
        }
    }

    &--un {
        @include menu-box($color-m1);

        .main-menu__content {
            @include menu-txt($txt-m1);

            h2 {
                font-family: 'Shadows Into Light',
                    cursive;
            }
        }
    }

    &--deux {
        @include menu-box($color-m2);

        .main-menu__content {
            @include menu-txt($txt-m2);

            h2 {
                @include gradiant(#d8852e, #905bfd);
                font-family: 'Alegreya',
                    serif;
            }
        }
    }

    &--trois {
        @include menu-box($color-m3);

        .main-menu__content {
            @include menu-txt($txt-m3);

            h2 {
                @include gradiant(#0431df, #69b4fa);
                font-family: 'Alex Brush',
                    cursive;
            }
        }
    }

    &--quatre {
        @include menu-box($color-m4);

        .main-menu__content {
            @include menu-txt($txt-m4);

            h2 {
                @include gradiant(#3e923a, #c4ff8a);
                font-family: 'Kaushan Script',
                    cursive;
            }
        }
    }

    .fa-music {
        @include gradiant(#f05961, #f6916a);
    }

}


.soon {
    border-radius: 5px 5px 5px;
    background-color: $color-primary;
    text-align: center;
    box-shadow: 1px 1px 5px 1px black;
    color: $color-secondary;
    font-size: 20px;
    font-weight: bold;
    margin-top: 60px;
    padding-top: 25px;
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-end;
}

span {
    width: 15px;
    height: 15px;
    margin: 0px 5px;
    background-color: $color-secondary;
    border-radius: 50%;
    display: inline-block;
    animation-name: dots;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.mention {
    @include menu-box($color-back);
    margin-top: 30px;
    text-align: center;
    padding: 20px;
}

@keyframes dots {
    50% {
        opacity: 0;
        transform: scale(0.2) translateY(10px);
    }
}


@keyframes wig {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}


.circle span:nth-child(2) {
    background-color: #57ffa0;
    animation-delay: 0.4s;
}

.circle span:nth-child(3) {
    background-color: #ff8b57;
    animation-delay: 0.8s;
}


.footer {
    background-color: $color-primary;
    padding: 25px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: larger;
    font-weight: bold;
}



.wiggle {
    animation-name: wig;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
}



.submenu {
    &--1 {
        @include bloc-menu($color-m1);

        .fa-music {
            @include gradiant(#f05961, #f6916a);
            font-size: 4em;
        }

        h2 {
            font-size: 3.5em;
            font-family: 'Shadows Into Light',
                cursive;
            padding-bottom: 51px;
        }
    }

    &--2 {
        @include bloc-menu($color-m2);

        h2 {
            @include gradiant(#d8852e, #905bfd);
            font-size: 4em;
            font-family: 'Alegreya',
                cursive;
            padding-bottom: 40px;
        }
    }

    &--3 {
        @include bloc-menu($color-m3);

        h2 {
            @include gradiant(#0431df, #69b4fa);
            font-size: 4em;
            font-family: 'Alex Brush',
                cursive;
            padding-bottom: 40px;
        }
    }

    &--4 {
        @include bloc-menu($color-m4);

        h2 {
            @include gradiant(#3e923a, #c4ff8a);
            font-size: 4em;
            font-family: 'Kaushan Script',
                cursive;
            padding-bottom: 40px;
        }
    }
}

.submenu-section {
    width: 90%;
    padding-bottom: 80px;

    &.orange {
        color: #c67412;
    }

    &.purple {
        color: #a56799;
    }

    &.blue {
        color: #6e4ccc;
    }

    &--1 {
        font-family: 'Alegreya',
            cursive;
    }

    &--2 {
        font-family: 'Alegreya',
            cursive;
    }

    &--3 {
        font-family: 'Kalam',
            cursive;
    }

    &--4 {
        font-family: 'Kalam',
            cursive;
    }
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    font-size: 20px;
    text-align: start;


    p {
        line-height: 2.5em;
    }

    .trait {
        max-width: 30%;
        align-self: center;
        
        &.trait-reverse {
        transform: rotateY(180deg);
        }
    }
}

.row-title {
    padding-bottom: 20px;

    h4 {
        font-size: 30px;
        transition: background-size 0.5s cubic-bezier(.55, .06, .68, .19);
        background-repeat: no-repeat;
        background-size: 0 100%;

        &.h4--1 {
            background-image: linear-gradient(to top, black 0%, grey 4px, transparent 5px);
        }

        &.h4--2 {
            background-image: linear-gradient(to top, #d8852e 0%, #905bfd 4px, transparent 5px);
        }

        &.h4--3 {
            background-image: linear-gradient(to top, blue 0%, skyblue 4px, transparent 5px);
        }

        &.h4--4 {
            background-image: linear-gradient(to top, #3e923a 0%, #c4ff8a 4px, transparent 5px);
        }

        &:hover {
            background-size: 100% 100%;
        }
    }
}

.submenu-footer {
    display: flex;
    flex-direction: row;

    i {
        margin-right: 50px;
    }

    h2 {
        font-size: 2em;
        padding-top: 20px;
    }
}


.mention {
    font-family: 'Alegreya';
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    h3 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    p {
        margin: 10px;
    }
}

/* Responsive moins de 785px  */

@media all and (max-width: 785px) {
    main {
        width: 90%;
    }

    .submenu {
        width: 100%;
        h2 {
            font-size: 2.5em;
        }
    }

    .row-title {
        h4 {
            font-size: 20px;
            text-align: center;
        }
    }

    .row {
        font-size: 20px;
        width: 95%;

        p {
            line-height: 2em;
            margin: 15px;
        }
    }

    .submenu-footer {
        h2 {
            font-size: 1.5em;
            padding-top: 23px;
        }
    }

    .footer {
        padding: 15px;

        p {
            margin-left: -40px;
            font-size: medium;
        }
    }

    .main-menu {
        width: 100%;
        margin-top: 50px;
        height: auto;

        .main-menu__content {
            margin-top: 0px;
            height: 200px;
            padding-top: 70px;
        }

        .fa-music {
            padding-top: 0px;
        }
    }

    .mention {
        h3 {
            margin-top: 45px;
        }

        p {
            text-align: justify;
        }
    }
}