@mixin link-color($color) {
    color: $color;
    text-decoration: none;
}

@mixin main-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: $color-back;
    width: 100%;
}

@mixin menu-box($color) {
    text-align: center;
    margin-left: 200px;
    box-shadow: 0.5px 0.5px 8px grey;
    background-color: $color;
    width: 300px;
    height: 400px;
}