$color-primary: #549c84;
$color-secondary: #e6c54d;
$color-back: #fff;
$color-m1: #FCDFDB;
$color-m2: #FFF5FE;
$color-m3: #F9F9F9;
$color-m4: #fdfffd;


$txt-m1:#660000;
$txt-m2:#c77412;
$txt-m3:#339bfb;
$txt-m4:#72bf56;
